<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="shortcut icon" type="icon" href="../static/maze.ico"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Depositar</title>
</head>
<body background="https://image.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg" bgcolor="FFFFFF" style=" background-size:100%; background-repeat; no-repeat background-attachment;" bgproperties="fixed">
    <hr color="crimson" size="15" width="100%" style="border:0px;" >
        <div id="contenedor">
            <img id="logo" src="../static/logomaze.png" height="67px" width="275px" align="left">
            <hr color="crimson" size="5" width="100%" style="border:0px;">
            <div id="campos">
                <br><br>
                <font color="white" face="Dubai" size="5">Digite el monto que desea depositar</font>
                <div id="square">

                        <form action="/vista" method="POST">
                        <br><br>
                        <br><br>
                        <br><input required="required" type="number" step="any" name="deposito" placeholder="*" style="font-size:35px" ><br>
                        <br><input type="submit" value="Enviar" style="width:400px; height:35px;background-color:crimson;border:crimson;color:white; "><br>
                    </form>
                </div>
                 <form action="/service" method="POST">
                <input type="submit" value="Regresar" style="width:400px; height:35px;background-color:crimson;border:crimson;color:white; "><br>
            </form>
            </div>
        </div>
</body>
</html>