<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="shortcut icon" type="icon" href="../static/maze.ico"/>
    <meta charset="UTF-8">
    <title>Service</title>
</head>
<body background="https://image.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg" style=" background-size:100%; background-repeat; no-repeat background-attachment;" bgproperties="fixed">
    <hr color="crimson" size="15" width="100%" style="border:0px;" >
        <div id="contenedor">
                <img id="logo" src="../static/logomaze.png" height="67px" width="275px" align="left">
                <hr color="crimson" size="5" width="100%" style="border:0px;">


             <center>
                 <br><br>
                 <br><FONT FACE="Arial narrow"; size="5">Escoja un servicio </FONT> <h1 width="100%" style="border:0px;" color="000000"></h1><br>
             </center>

             <center>
                 <br><br>
                 <form action="/withdraw" method="POST">
                 <p><input type="submit" value="Retirar" style="width:400px; height:50px;background-color:crimson;border:crimson;color:white; " ></p>
                 </form>

                 <br><br>
                 <form action="/deposit" method="POST">
                 <p><input type="submit" value="Depositar" style="width:400px; height:50px;background-color:crimson;border:crimson;color:white" ></p>
                 </form>

                 <br><br>
                 <br><br>
             </center>
        </div>





</body>
</html>