<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="shortcut icon" type="icon" href="../static/maze.ico"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="https://image.freepik.com/free-vector/hexagonal-pattern_1051-833.jpg" bgcolor="FFFFFF" style=" background-size:100%; background-repeat; no-repeat background-attachment;" bgproperties="fixed">
    <hr color="crimson" size="15" width="100%" style="border:0px;" >>
    <div id="contenedor">
                <img id="logo" src="../static/logomaze.png" height="67px" width="275px" align="left">
                <br><br>
                <br><br>
                <hr color="crimson" size="5" width="100%" style="border:0px;">
            <br><br>


        <table border="2px" bgcolor="white" style="color:black" class="table">
                     <thead>
                         <tr>
                             <th><p>Retiro#</p></th>
                             <th><p>Cantidad B/.</p></th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                                <td><p>#1</p></td>
                                <td><p>B/. {{ retirar }}</p></td>
                        </tr>
                        <tr>
                                <td><p>Balance de cuenta:</p></td>
                                <td><p>B/. {{ ret }}</p></td>
                        </tr>
                     </tbody>
               </table>
              <p>{{ msj }}</p>
            <form action="/deposit" method="POST">
                    <button type="submit" style="width:200px; height:50px;background-color:crimson;border:crimson;color:white; ">Regresar</button>
                </form>
    </div>

</body>
</html>